* {
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    min-height: 100%;
    height: 100%;
    margin: 0;
}

.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    background-color: rgb(37, 43, 38);
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
}

.formContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 50%;
}

@keyframes formAppear {
    from {
        left: -25%;
    }

    to {
        left: 0%;
    }
}

@keyframes formDisappear {
    from {
        left: 0%;
    }

    to {
        left: -25%;
    }
}

.visible {
    animation: 0.3s linear 0s forwards 1 formAppear;
}

.hidden {
    animation: 0.3s linear 0s forwards 1 formDisappear;
}

.formIconBtn {
    width: 60%;
    height: 60%;
}

.galleryItemInner {
    cursor: pointer;
    text-align: left;
    display: flex;
    flex-direction: column;
}

.galleryItem:nth-child(even) .galleryItemInner {
    cursor: pointer;
    text-align: right;
    align-items: end;
}

.galleryImage {
    width: 50%;
}

@keyframes buttonHover {
    from {
        background-color: rgb(108, 145, 108);
        right: -35%;
        width: 25%;
        height: 12%;
        top: 10%;
    }

    to {
        background-color: rgb(122, 160, 122);
        width: 26%;
        height: 13%;
        right: -35.5%;
        top: 9.5%;
    }
}

@keyframes buttonUnhover {
    from {
        background-color: rgb(122, 160, 122);
        width: 26%;
        height: 13%;
        right: -35.5%;
        top: 9.5%;
    }

    to {
        background-color: rgb(108, 145, 108);
        right: -35%;
        width: 25%;
        height: 12%;
        top: 10%;
    }
}

.formButton {
    width: 25%;
    height: 12%;
    border-radius: 50%;
    background-color: rgb(108, 145, 108);
    border: 0px;
    cursor: pointer;
    position: absolute;
    right: -35%;
    top: 10%;
    animation: 0.3s linear 0s forwards 1 buttonUnhover;
}

.formButton:hover {
    animation: 0.3s linear 0s forwards 1 buttonHover;
}

.formBackgroundWrapper {
    background-color: rgb(73, 82, 75);
    height: 100vh;
    width: 25%;
    position: absolute;
    left: -25%;
}

.title {
    text-align: center;
}

.galleryContainer {
    width: 50%;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input1::file-selector-button {
    margin-bottom: 2%;
    background-color: rgb(108, 145, 108);
    color: white;
    border: 0;
    cursor: pointer;
}

.input2 {
    resize: none;
    background-color: rgb(108, 145, 108);
    color: white;
    border: 0;
}

.input2::placeholder {
    color: rgba(255, 255, 255, 0.474);
}

@keyframes buttonHover2 {
    from {
        width: 50%;
        height: 30%;
        background-color: rgb(108, 145, 108);
    }

    to {
        width: 55%;
        height: 35%;
        background-color: rgb(162, 190, 162);
    }
}

@keyframes buttonUnhover2 {
    from {
        width: 55%;
        height: 35%;
        background-color: rgb(162, 190, 162);
    }

    to {
        width: 50%;
        height: 30%;
        background-color: rgb(108, 145, 108);
    }
}

.input3 {
    border: 0;
    color: white;
    width: 50%;
    height: 30%;
    animation: 0.3s linear 0s forwards 1 buttonUnhover2;
    cursor: pointer;
}

.input3:hover {
    animation: 0.3s linear 0s forwards 1 buttonHover2;
}

.warningPopup {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.346);
    z-index: 10;
}

.warningInner {
    background-color: rgb(82, 104, 82);
    position: relative;
    left: 37%;
    top: 25%;
    width: 25%;
    height: 50%;
    border-radius: 10%;
    display: flex;
    flex-direction: column;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    align-items: center;
}

.deleteTitle {
    width: 100%;
    text-align: center;
}

.displayImage {
    height: 100%;
    max-width: 100%;
}

.imageContainerDelete {
    width: 90%;
    height: 70%;
    background-color: rgb(92, 106, 92);
    display: flex;
    justify-content: center;
}

.buttons {
    margin-top: 2%;
}

.agree {
    background-color: rgb(181, 54, 54);
    color: white;
    border: 0;
    cursor: pointer;
}

.cancel {
    background-color: rgb(179, 179, 179);
    color: white;
    border: 0;
    cursor: pointer;
}

.hiddenDF {
    display: none;
}